<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<!--  <servlet>
 <servlet-name>CreateTaskServlet</servlet-name>
 <servlet-class>taskCreation.CreateTaskServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>CreateTaskServlet</servlet-name>
 <url-pattern>/CreateTaskServlet</url-pattern>
 </servlet-mapping>
 
  <servlet>
 <servlet-name>SignupServlet</servlet-name>
 <servlet-class>taskCreation.SignupServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>SignupServlet</servlet-name>
 <url-pattern>/SignupServlet</url-pattern>
 </servlet-mapping> -->
 
</web-app>